<div class="wrapper__image" *ngIf="currentImage">
  <img
    [src]="'data:image/png;base64,' + currentImage"
    alt="document image"
    (load)="setCoordinates($event, true)"
    #fileImage
  />
  <!-- <ng-container *ngIf="isEditGrid">
    <ng-container *ngFor="let row of gridData">
    </ng-container>
  </ng-container> -->

  <ng-container *ngFor="let row of gridData; let rowIndex = index">
    <canvas
      *ngFor="let col of row[1]; let i = index"
      [id]="'grid-canvas-box-' + rowIndex + i"
      [width]="fileImage.width"
      [height]="fileImage.height"
      [style]="{
        display:
          activeSidebarIndex === i && activeRowIndex === rowIndex
            ? 'block'
            : 'none'
      }"
      class="grid-line"
    ></canvas>
  </ng-container>
  <ng-container *ngFor="let item of data; let i = index">
    <canvas
      [id]="'canvas-' + i"
      [width]="fileImage.width"
      [height]="fileImage.height"
      [style]="{ display: activeIndex === i ? 'block' : 'none' }"
      class="item-line"
    ></canvas>
    <button
      type="button"
      class="wrapper__highlighter wrapper__highlighter__active"
      (click)="collapseItem(i)"
      [matTooltip]="item.word"
      [style]="{
        width: item.width,
        height: item.height,
        top: item.top,
        left: item.left
      }"
    ></button>
    <app-modifier
      *ngIf="item.collapsed"
      (onClose)="item.collapsed = false"
      (onSave)="saveChange($event, this.activeKey)"
      [item]="{ key: activeKey, value: getSidebarItemValue() }"
      [position]="{ top: item.modalTop, left: item.left }"
    >
    </app-modifier>
  </ng-container>
  <canvas
    id="grid-canvas"
    [width]="fileImage.width"
    [height]="fileImage.height"
    [style]="{ display: isEditGrid ? 'block' : 'none' }"
  ></canvas>
  <canvas
    id="selection-canvas"
    [width]="fileImage.width"
    [height]="fileImage.height"
    [style]="{ display: isSelectionBox ? 'block' : 'none' }"
  ></canvas>
</div>
