<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [opened]="true"
    mode="side"
  >
    <!-- [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" -->
    <!-- [opened]="!isEditGrid && !isSelectionBox" -->
    <mat-nav-list>
      <a
        mat-list-item
        *ngFor="let item of sidebarItems; let i = index"
        (click)="toggleItem(item[1].key, i)"
        [class.mat-list-item-active]="sidebarIndex === i"
      >
        <div class="mat-list-item-content__container">
          <span [title]="item[0]">{{ item[0] }}</span>
          <span>{{ item[1]?.word }}</span>
        </div>
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <div class="grid-items">
        <div class="grid-items__header">Table Items</div>
        <div class="grid-items__rows">
          <div
            class="grid-items__rows__row"
            [class.grid-items__rows__row__disabled]="
              pointer.$navItemIndex != undefined
            "
            *ngFor="let row of gridItems; let rowIndex = index"
          >
            <p>{{ row[0] }}</p>
            <a
              mat-list-item
              *ngFor="let col of row[1]; let i = index"
              (click)="toggleGridItem(col[1], i, col[1].row)"
              [class.mat-list-item-active]="sidebarGridIndex === i"
              [disabled]="pointer.$navItemIndex != undefined"
            >
              <div class="mat-list-item-content__container">
                <span>{{ col[1].name }}</span>
                <span>{{ col[1].word }}</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </mat-nav-list>
    <button mat-raised-button (click)="resetPointer($event)" id="reset-btn">
      Reset Pointer
    </button>
  </mat-sidenav>
  <mat-sidenav-content (scroll)="resetPointer($event)" #sidenavContent>
    <mat-toolbar color="primary">
      <span>Data Modifier</span>
      <button
        type="button"
        class="edit-button"
        mat-raised-button
        (click)="editGrid()"
        *ngIf="!isSelectionBox"
      >
        {{ !isEditGrid ? "Edit Grid" : "Finish Editing" }}
      </button>
      <button
        type="button"
        class="edit-button"
        mat-raised-button
        (click)="!isSelectionBox ? selectByHighlight() : resetSelectionBox()"
        *ngIf="
          (pointer.$navItemIndex != undefined ||
            pointer.gridItemIndex != undefined) &&
          !isEditGrid
        "
      >
        {{ !isSelectionBox ? "Edit by Highlight" : "Finish Editing" }}
      </button>
      <button
        type="button"
        class="edit-button"
        mat-raised-button
        (click)="export()"
      >
        Export
      </button>
      <button
        type="button"
        class="edit-button"
        mat-raised-button
        *ngIf="images?.length > 1"
        (click)="changePage()"
      >
        {{ currentPageIndex === 0 ? "Next page" : "Prev page" }}
      </button>
      <div class="grid-buttons">
        <button
          type="button"
          class="edit-button"
          mat-raised-button
          (click)="addColumn()"
        >
          Add Column
        </button>
        <button
          type="button"
          class="edit-button"
          mat-raised-button
          (click)="addRow()"
        >
          Add Row
        </button>
      </div>
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
    </mat-toolbar>
    <section class="wrapper" #wrapper>
      <app-highlighter
        [data]="allPoints"
        [isEditGrid]="isEditGrid"
        [isSelectionBox]="isSelectionBox"
        [images]="images"
        [currentImage]="currentImage"
        [gridData]="gridItems"
        (updateSidebarItems)="updateSidebarItems()"
        #highlighter
      ></app-highlighter>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
